body {
  background: rgb(214, 212, 212);
  text-align: center;
}

.container{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}
h2{
  color: black;
}
.rating-group label {
  display: block;
  color: black;
  margin: 5px 0;
  cursor: pointer;
}


h1 {
    font-size: x-large;
    text-align: center;
    color: #4206a3;
}
label {
    font-size: 15px;
    display: block;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 12px;
}

input[type="radio"] {
    display: inline;
    width: 10%;
}
select {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

textarea {
  resize: none;
  width: 98%;
  min-height: 100px;
  max-height: 150px;
}
button {
  padding: 10px 15px;
  border-radius: 6px;
  margin: 15px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #4206a3;
  width: 40%;
  font-size: 16px;
}

button:hover {
  background-color: #2b036c;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
